implementation/invoices.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:oauth="http://www.mulesoft.org/schema/mule/oauth"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/oauth http://www.mulesoft.org/schema/mule/oauth/current/mule-oauth.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="post-invoices-flow" doc:id="5b15b5e9-c1f2-4943-bb40-692077708589">
		<os:retrieve doc:name="salesforce_token" doc:id="7c2b7fa2-e9e1-49d7-9cae-fcad6f8b78b9" key="salesforce_token" objectStore="sapi_token_store" target="token" />
		<ee:transform doc:name="Init params" doc:id="d1d82166-f4e0-4c07-a3b4-5fb1e920d5b4">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="failedCount" ><![CDATA[%dw 2.0
output application/json
---
0]]></ee:set-variable>
				<ee:set-variable variableName="successCount" ><![CDATA[%dw 2.0
output application/json
---
0]]></ee:set-variable>
				<ee:set-variable variableName="failedErrorDesc" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<ee:transform doc:name="invoice to Create" doc:id="2e2efbdb-2f28-4d58-abde-dc0bc94c4210">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="requestBody"><![CDATA[%dw 2.0
output application/json
var mappedArray = (payload filter ($.code != null)) map ((item) -> {
	"Date_de_la_facture__c": item.date as Date {format: "yyyyMMdd"} as Date {format: "yyyy-MM-dd"},
	"Montant_HT__c": item.amountWoTax,
	"BPIADDLIG1__c": item.invoiceAddressLine1,
	"BPIADDLIG2__c": item.invoiceAddressLine2,
	"BPIPOSCOD__c": item.invoiceAddressZipCode,
	"BPICTY__c": item.invoiceAddressCity,
	"BPICRY__c": item.invoiceAddressCountry,
	"idX3_invoice__c": item.code,
	"Name": item.code,
	"Condition_paiement__c": item.paymentCode,
	"SNS__c": item.direction as Number,
	"Tech_Account__c": item.orderClientCode,
	"Tech_InvoicedCustomer__c": item.invoicedClient,
	"CNOREN__c": item.assetReason,
	"INVREF__c": item.reference,
	"Representant_1__c": item.representative1,
	"Representant_2__c": item.representative2,
	"Marche__c": item.business,
	"Segment__c": item.segment,
	"Canal__c": item.distributionChannel,
	"Centrale__c": item.centrale,
	"RegroupementSpecial__c": item.specialGroups,
	"Sous_Centrale__c": item.subCentrale,
	//"company": item.company,
	//"salesSite": item.salesSite
} )

---
mappedArray
]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set to CSV" doc:id="9c01512e-5e59-477d-939e-778b553104c9">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="invoiceToUpsertCSV"><![CDATA[%dw 2.0
output application/csv  separator=",", header=true
---
vars.requestBody]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<salesforce:create-job-bulk-api-v2 objectType="Invoice__c" operation="upsert" doc:name="Create job bulk api v 2" doc:id="422a1725-3c8d-4c3a-a0df-b34e4dfdcf30" config-ref="Salesforce_Config" externalIdFieldName="idX3_invoice__c">
			<salesforce:s-objects><![CDATA[#[vars.invoiceToUpsertCSV]]]></salesforce:s-objects>
		</salesforce:create-job-bulk-api-v2>
		<ee:transform doc:name="Set Id Salesforce" doc:id="7d84e540-8bf4-42ad-a256-66ed1fd9cf6c">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="idSalesforce"><![CDATA[%dw 2.0
output application/json
---
payload.id]]></ee:set-variable>
						<ee:set-variable variableName="responseUpsert"><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
		<flow-ref doc:name="Get Job State" doc:id="a6287b20-bfe6-4cca-9fcf-3a295b4c7edd" name="getJobStateSub_Invoices" />
		<!-- [STUDIO:"Set Variable"]<set-variable value="#[vars.progressCount + vars.iterationCount&#93;" doc:name="Set Variable" doc:id="66dac3ad-e94c-4f42-bcaf-e2f66788c521" variableName="progressCount" /> [STUDIO] -->
		<logger level="INFO" doc:name="Logger" doc:id="ee93c076-d1c4-4330-93cb-d0bf6857cda3" message='#[{&#10;message: "end post invoices flow to SF"&#10;}]' />
	</flow>
	<flow name="post-invoicesLines-flow" doc:id="b0f2a63e-f734-4ede-a4d4-9bedb559db0c">
		<os:retrieve doc:name="salesforce_token" doc:id="d05b828a-00b7-42d7-b861-05e405aac16b" key="salesforce_token" objectStore="sapi_token_store" target="token" />
		<ee:transform doc:name="Init params" doc:id="f088146f-a36c-4575-88cc-3ad9c546dbf6">
			<ee:message />
			<ee:variables>
							<ee:set-variable variableName="failedCount" ><![CDATA[%dw 2.0
output application/json
---
0]]></ee:set-variable>
				<ee:set-variable variableName="successCount" ><![CDATA[%dw 2.0
output application/json
---
0]]></ee:set-variable>
				<ee:set-variable variableName="failedErrorDesc" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
			</ee:variables>
			
			
		</ee:transform>
		<ee:transform doc:name="Filter invoices and invoice line" doc:id="3473d206-78b9-44c8-8a4a-81e622b777d1">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="invoiceLinesUpsert" ><![CDATA[%dw 2.0
output application/java
---
payload filter ($.code == null) orderBy ($.invoiceCode)]]></ee:set-variable>
			
</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Set iterationCount and invoiceCode" doc:id="3a1c735f-9f4e-4feb-a513-a5264cf3ff1f">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="invoiceCode"><![CDATA[%dw 2.0
output text/plain
---
//write(payload.invoiceCode)replace('"') with ("'") replace('[') with ('(') replace  (']') with (')') replace /[ \n]/ with ('')
"('"
++ ((payload.invoiceCode distinctBy $) joinBy
"','"
) ++
"')"]]></ee:set-variable>
					<ee:set-variable variableName="iterationCount"><![CDATA[%dw 2.0
output application/java
---
sizeOf(payload)]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		<salesforce:query doc:name="invoice__c" doc:id="3975a8ad-0114-48a4-8060-d256374799da" config-ref="Salesforce_Config" readTimeoutUnit="HOURS" target="responseQuery">
			<salesforce:salesforce-query><![CDATA[SELECT Id , idX3_invoice__c  FROM invoice__c WHERE idX3_invoice__c IN :invoiceCodes AND Account__r.isPersonAccount = true
]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	"invoiceCodes" : vars.invoiceCode
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Map upsert Salesforce" doc:id="f849ce18-ce67-4618-9c4a-3ed4766a9158">
							<ee:message>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="requestBodyLine"><![CDATA[%dw 2.0
output application/json

var matchinvoiceCode = (code) -> (vars.responseQuery filter ($.idX3_invoice__c == code) )

var mappedArray = (payload filter (matchinvoiceCode($.invoiceCode)[0].Id != null) map ((item) -> 
	{	
	"Invoice__c": matchinvoiceCode(item.invoiceCode)[0].Id default "",
	"idX3_invoiceline__c": if(item.line != null and item.invoiceCode != null) item.invoiceCode ++ "/" ++ item.line else "",
	"Name": if(item.invoiceCode != null and item.line != null) item.invoiceCode ++ "/" ++ item.line else "",
	"Article__c": item.itmref,
	"Designation_1__c": item.articleDesignation,
	"Designation_2__c": item.articleDesignation2,
	"Designation_3__c": item.articleDesignation3,
	"Famille_statistique__c": item.statFamily,
	"Famille_statistique_sous_famille__c": item.statSubFamily,
	"Famille_statistique_type__c": item.statTypeFamily,
	"Famille_statistique_couleur__c": item.statColorFamily,
	"Qte_facturee__c": item.quantityInvoiced,
	"Montant_HT__c": item.amountWoTax,
	"Tech_Order_Line__c": if(item.orderLineCode != null and item.shippingLine != null and item.shippingSequence != null) item.orderLineCode ++ "/" ++ item.shippingLine ++ "/" ++ item.shippingSequence else "",
	//"OrderLine__c": item.orderLineCode,
	//"shippingLine": item.shippingLine,
	//"shippingSequence": item.shippingSequence,
	//"eanCode": item.eanCode
	}
))

---
mappedArray
]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
		<ee:transform doc:name="Set to CSV" doc:id="b905e674-e8cf-4393-b0cc-5c770c4d31e5">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="invoiceLineToUpsertCSV"><![CDATA[%dw 2.0
output application/csv  separator=",", header=true
---
vars.requestBodyLine ]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
		<salesforce:create-job-bulk-api-v2 objectType="InvoiceLine__c" operation="upsert" doc:name="Create job bulk api v2" doc:id="be193077-b493-4280-b713-094ad25491a5" config-ref="Salesforce_Config" externalIdFieldName="idX3_invoiceline__c">
							<salesforce:s-objects><![CDATA[#[vars.invoiceLineToUpsertCSV]]]></salesforce:s-objects>
						</salesforce:create-job-bulk-api-v2>
		<salesforce:close-job doc:name="Close job" doc:id="505c1557-2ba7-4c59-8620-ba5c0b92f334" config-ref="Salesforce_Config" jobId="#[payload.id]"/>
		<ee:transform doc:name="Set Response invoice Line Upsert" doc:id="512de7df-31a8-4505-859e-84990e4fa0ea">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="idSalesforce"><![CDATA[%dw 2.0
output application/json
---
payload.id]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
		<flow-ref doc:name="Get job State" doc:id="76200313-535f-4f03-962b-e0c37d18046b" name="getJobStateSub_Invoices" targetValue="#[vars.idSalesforce]" />
		<logger level="INFO" doc:name="Logger" doc:id="b0801b95-6251-496d-8774-ca62d0ae7886" message='#[message: "end post invoices lines flow to SF"]' />
	</flow>
	<flow name="getJobStateSub_Invoices" doc:id="c4106ec5-cbd8-45de-b6ca-74ebac504a20">
			<until-successful maxRetries="${jobState.maxRetry}" doc:name="Until Successfull" doc:id="3f1a47f3-cea1-4255-b065-836a66e6c61d" millisBetweenRetries="${jobState.delay}">
			<try doc:name="Try" doc:id="1511a901-a597-4cce-b9a5-58b10afd4512">
			<salesforce:get-job-state-bulk-api-v2 doc:name="Get job state bulk api v2 " doc:id="b5711ca1-2389-41e8-b110-ccb3e36d2be7" config-ref="Salesforce_Config" id="#[vars.idSalesforce]" />
				<ee:transform doc:name="Set response Get Line Job State" doc:id="8c24da89-16c2-48c8-ab92-ba1097f6be38">
							<ee:message />
							<ee:variables>
						<ee:set-variable variableName="state" ><![CDATA[%dw 2.0
output application/json
---
payload.state]]></ee:set-variable>
						<ee:set-variable variableName="failedRecords" ><![CDATA[%dw 2.0
output application/json
---
[]]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
				<choice doc:name="Choice" doc:id="5eb2fb69-7f78-440c-97d1-7afae6c8db58">
				<when expression='#[vars.state == "JobComplete"]'>
					<logger level="INFO" doc:name="Logger" doc:id="8f16bdeb-68cb-4ac2-b55b-4850cd3796fc" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; state: vars.state&#10;}]' />
						<salesforce:retrieve-job-failed-results-bulk-v2 doc:name="Retrieve job failed results bulk v 2" doc:id="0f5d4fcf-7508-4fac-9eee-270846d60463" config-ref="Salesforce_Config" id="#[vars.idSalesforce]" target="failedRecords"/>
				</when>
				<when expression='#[vars.state == "Failed"]'>
						<logger level="INFO" doc:name="Logger" doc:id="92028315-e91d-47bc-8577-a4107ac96b00" message='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10; state: vars.state,&#10; message: "payload received from get job state is: \n",&#10; payload: payload&#10;}]'/>
						<salesforce:retrieve-job-failed-results-bulk-v2 doc:name="Retrieve job failed results bulk v 2" doc:id="765cfb1c-0186-4160-892d-65c5246558ee" config-ref="Salesforce_Config" id="#[vars.idSalesforce]" target="failedRecords"/>
					</when>
					<otherwise>
						<raise-error doc:name="Raise error" doc:id="9e6b3820-eebd-4d32-8007-e47d996689ec" type="ANY" description="not yet" />
				</otherwise>
			</choice>
		</try>
		</until-successful>
		<ee:transform doc:name="Count Successful" doc:id="c21ac113-989c-4aba-8c79-dc136ab91173">
						<ee:message />
						<ee:variables>
				<ee:set-variable variableName="successCount" ><![CDATA[%dw 2.0
output application/json
---
payload.numberRecordsProcessed as Number default 0
- payload.numberRecordsFailed as Number default 0
+ vars.successCount as Number default 0]]></ee:set-variable>
				<ee:set-variable variableName="failedCount" ><![CDATA[%dw 2.0
output application/json
---
payload.numberRecordsFailed + vars.failedCount]]></ee:set-variable>
				<ee:set-variable variableName="failedErrorDesc" ><![CDATA[%dw 2.0
output application/json
---
vars.failedRecords + vars.failedErrorDesc]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
	</flow>

</mule>
